# ==========================================
# Application Database
# ==========================================
APPLICATION_DB_NAME=
APPLICATION_DB_USERNAME=
APPLICATION_DB_PASSWORD=

# ==========================================
# Keycloak Database
# ==========================================
KEYCLOAK_DB_NAME=
KEYCLOAK_DB_USERNAME=
KEYCLOAK_DB_PASSWORD=

# ==========================================
# Keycloak
# ==========================================
KEYCLOAK_ADMIN_USERNAME=
KEYCLOAK_ADMIN_PASSWORD=

# ==========================================
# Grafana
# ==========================================
GRAFANA_ADMIN_USERNAME=
GRAFANA_ADMIN_PASSWORD=
